<html>
    <head>
        <title>Milans blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Milans Blog</a></h1>
        </div>

        <div>
            <h2><a href="">Mein erster post</a></h2>
            <p>Ich werde in diesem blog Rezepte veröfnetlichen.</p>
        </div>

        <div>
            <p>published: 07.01.2021, 13:20</p>
            <h2><a href="">Mein zweiter post</a></h2>
            <p>Der Blog ist noch in Arbeit, aber bald Fertig.</p>
            <p>published: 07.01.2021, 13:23</p>
        </div>
    </body>
</html>
